html,
body {
  background: #efefef;
  font-family: 'Varela Round';
  min-height:100%;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  
  /* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
  :root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #2a2c39; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #474644; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  
  /* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
  :root {
    --nav-color: #ffffff;  /* The default color of the main navmenu links */
    --nav-hover-color: #ef6603; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #060606; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #ef6603; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }
  
  /* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  


@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

/* body {
	background-color: #636465;
} */

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

html {
	font-size: 16pt;
}

@media screen and (max-width: 1680px) {

	html {
		font-size: 12pt;
	}

}

@media screen and (max-width: 1280px) {

	html {
		font-size: 11pt;
	}

}

@media screen and (max-width: 360px) {

	html {
		font-size: 10pt;
	}

}

body {
	color: #6e6f70;
}

body, input, select, textarea {
	font-family: "Merriweather", Georgia, serif;
	font-weight: 300;
	font-size: 1rem;
	/* line-height: 2.375; */
}

.notif__container {
	display: block;	
	height: 40px;
	width: 50%;
	left:34%;
	bottom:20px;
	position: fixed;

}